h1 {
    background-color: pink;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    border-radius: 69px;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    color: palevioletred;
    text-align: center;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    background-color: palevioletred;
    border-radius: 6.9px;
    padding: 3px
}

a:hover {
    background-color: pink;
}
